node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.example
.vscode
.DS_Store
dist
build
coverage
.nyc_output
*.log
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.editorconfig
Dockerfile
docker-compose.yml
.dockerignore
